<h1>グループ一覧</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name, "グループ名のキーワードを入力" %>
  <%= f.search_field :name_cont %>



  <%= f.submit "検索" %>
<% end %>


<table class="table table-hover">
  <% @searched_groups.each do |group| %>
    <% if UserGroupRelation.find_by(user_id: current_user.id, group_id: group.id) %>
    <% else %>
      <tr>
        <td>
          <div>
              <p><strong>グループ名：</strong><%= group.name %></p>
          </div>
        </td>
        <td>
          <div>
            <%= link_to 'グループの詳細', group_path(group.id), class: "btn btn-info" %>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= paginate @searched_groups %>