<h1>グループページ</h1>

<div>
  <p>グループ名: <%= @group.name %></p>
  <p>グループ紹介: <%= @group.introduce %></p>
</div>

<% if @join.present? == false %>
  <%= link_to 'グループに参加する',  user_group_relations_path(group_id: @group.id), class: "btn btn-primary", method: :post %>
  <br>
<% end %>

<br>

<div class="group-timeline">
  <%= link_to '活動を報告する', controller: "timelines", action: "new", group_id: @group.id, user_id: current_user.id, class: "btn btn-primary" %>
<%= render partial: 'timelines/index', locals: { timelines: @timelines } %>
</div>

<div class="group-board">
  <%= link_to '掲示板を新しく作成する', controller: "boards", action: "new", group_id: @group.id %>
<%= render partial: 'boards/index', locals: { boards: @boards } %>
</div>

<% if @group.owner_id == current_user.id %>
  <%= link_to "グループ情報を編集する", edit_group_path(@group), class: "btn btn-danger" %>
  <%= link_to "グループ情報を削除する", @group, method: :delete, data: { confirm: '本当に削除してもいいですか？' }, class: "btn btn-danger" %>
<% end %>

<% if @join.present? %>
  <%= link_to 'グループを抜ける', user_group_relation_path(joined_id: @join.id), class: "btn btn-danger", method: :delete, data: { confirm: '本当にグループを抜けて良いですか？' } %>
<% end %>
