<h1>マイページ</h1>

<div>
  <p>ユーザー名: <%= @user.name %></p>
  <p>メールアドレス: <%= @user.email %></p>

  <%= render partial: 'user_group_relations/index', locals: { joined_groups: @joined_groups } %>

  <%= link_to "ユーザー情報を編集する", edit_user_path(@user), class: "btn btn-primary" %>
  <%= link_to "アプリを退会する", @user, method: :delete, data: { confirm: '本当に削除してもいいですか？　※ユーザー情報は削除されます！' }, class: "btn btn-danger" %>
</div>