<h1><strong>掲示板タイトル：</strong><%= @board.title %></h1>
<p><span>掲示板詳細:</span><%= @board.detail %></p>

<%= render 'shared/error_messages' %>

<% if @board.group.user_group_relations.where(user_id: current_user.id).present? %>
  <%= render partial: 'comments/comment_form', locals: { comment: @comment } %>
<% end %>

<div class="board-comment">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>


<%= link_to "グループページへ戻る", group_path(@board.group.id), class: "btn btn-primary" %>