<% if timeline.errors.any? %>
  <div id="error_explanation">
    <h2><%= timeline.errors.count %>件のエラーがあります。</h2>
  </div>

  <ul>
    <% timeline.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with( model: timeline, local: true ) do |f| %>

  <div>
    <%= f.label :name, '投稿内容' %>
    <%= f.text_field :content %>
  </div>

  <%= f.hidden_field :group_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div>
    <p>投稿に関連する目標をラジオボタンで表示（あとで機能追加）</p>
  </div>

  <div>
    <%= f.submit '送信' %>
  </div>

<% end %>