<% if timeline.errors.any? %>
  <div id="error_explanation">
    <h2><%= timeline.errors.count %>件のエラーがあります。</h2>
  </div>

  <ul>
    <% timeline.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with( model: timeline, local: true ) do |f| %>

  <div>
    <%= f.label :content, '報告内容' %>
    <%= f.text_area :content, size: "20x10", class: "form-control" %>
  </div>

  <%= f.hidden_field :group_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br>

  <% if action_name == "edit" %>
    <p>目標名　：　<strong><%= timeline.goal.name %></strong></p>
  <% elsif action_name == "new" %>
    <p>今回報告する目標を下の選択肢から選んでください</p>
    <%= f.collection_select(:goal_id, my_goals, :id, :name  ) %>
  <% end %>

  <div>
    <%= f.submit '送信' %>
  </div>

<% end %>