<div class="timeline">

  <h1>３日以内の報告一覧</h1>

  <% if timelines.count >= 1 %>
    <table class="table table-hover">
      <% timelines.each do |timeline| %>
          <tr>
            <td><p><strong><%= timeline.user.name %></strong>さんの<strong>「<%= timeline.goal.name %>」</strong>に関する投稿です</p></td>
            <td><p><strong>投稿内容：</strong><%= timeline.content %></p></td>
            <% if timeline.user.id == current_user.id %>
              <td><%= link_to '目標詳細', goal_path(timeline.goal.id), class: "btn btn-info" %></td>
              <td><%= link_to '編集', edit_timeline_path(timeline.id, group_id: timeline.group.id), class: "btn btn-info" %></td>
              <td><%= link_to '削除', timeline_path(timeline, group_id: timeline.group.id), class: "btn btn-danger", method: :delete, data: { confirm: '削除してもいいですか？' } %></td>
            <% else %>
              <% if timeline.cheered == false %>
                <td><%= link_to '目標詳細', goal_path(timeline.goal.id), class: "btn btn-info" %></td>
                <td><%= link_to 'いいね！', praise_path(timeline.goal.id, timeline_id: timeline.id, group_id: timeline.group.id), method: :patch, class: "btn btn-info" %></td>
              <% else %>
                <td><%= link_to '目標詳細', goal_path(timeline.goal.id), class: "btn btn-info" %></td>
                <td><p>既に「いいね！」されています</p></td>
              <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>
  <% else %>
      <p>まだこのグループには報告がありません</p>
  <% end %>

</div>