<!DOCTYPE html>
<html>
  <head>
    <title>GoalSupporters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="container">
        <nav class="navbar">
          <ul>
            <li><%= link_to 'マイページ', user_path(current_user), class: 'navbar-brand' %></li>
            <li><%= link_to '目標一覧', goals_path, class: 'navbar-brand' %></li>
            <li><%= link_to '参加可能なグループ一覧', groups_path, class: 'navbar-brand' %></li>
            <li><%= link_to '新規目標作成', new_goal_path, class: 'navbar-brand' %></li>
            <li><%= link_to '新規グループ作成', new_group_path, class: 'navbar-brand' %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
      </header>
    <% else %>
      <header>
        <nav class="navbar">
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        </nav>
      </header>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

  <%= yield %>

  </body>

</html>
