<!DOCTYPE html>
<html>
  <head>
    <title>GoalSupporters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
        <header>
          <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
              <li class="nav-item"><%= link_to 'マイページ', user_path(current_user), class: 'navbar-brand' %></li>
              <li class="nav-item"><%= link_to '目標一覧', goals_path, class: 'navbar-brand' %></li>
              <li class="nav-item"><%= link_to '参加可能なグループ一覧', groups_path, class: 'navbar-brand' %></li>
              <li class="nav-item"><%= link_to '新規目標作成', new_goal_path, class: 'navbar-brand' %></li>
              <li class="nav-item"><%= link_to '新規グループ作成', new_group_path, class: 'navbar-brand' %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'navbar-brand'%></li>
          </nav>
        </header>
      <% else %>
        <header>
          <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          </nav>
        </header>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-primary"><%= flash[:notice] %></div>
      <% end %>

      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

      <%= yield %>

      <% if false %>
      <footer class="footer text-center">
          <p class="text-muted">Goal supporters</p>
      </footer>
        <% end %>

    </div>
  </body>

</html>
